

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Caveat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Caveat&family=Kaushan+Script&family=Pacifico&display=swap');
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	
}

.main{
	background: url("https://images.pexels.com/photos/943459/pexels-photo-943459.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	position: relative;
	width:100%;
	height:100vh;
	background-size: cover;

	
}

.logo img{
	position: absolute;
	top:30px;
	left:26px;
	bottom:75px;
	right:80px;
	width: 80px;
	height:50px;
	box-shadow: 5px 5px 5px rgba(85,20,20,0.733 );

}
.logo h3{
	color: #b3ffe6 ;
	position: absolute;
	font-family: 'Akaya Telivigala', cursive;
	font-family: 'Pacifico', cursive;
	display: flex;
	top:5%;
	left:10%;
	text-shadow: 5px 5px 5px rgba(85,20,20,0.733);
	
	
	font-size: 25px;
}

ul{
	list-style: none;
	display: flex;
	float:right;
	top:15%;
	margin: 0px;
	padding : 10px;
	text-transform: capitalize;
	background-color: black;


}
ul li{
	padding: 20px;
	color: #ffff;
	font-size: 25px;
	font-family: 'Akaya Telivigala', cursive;
}
li form{
	border-top: 8px solid yellow;

}
ul li:hover{
	color:red;
	text-decoration: underline;
	font-size: 30px;
	cursor: crosshair;
}
.text{
	position:absolute;
	top:25%;
	left:16%;

}
 h1{
 	font-size: 80px;
 	color: white;
 	text-shadow: text-shadow: 5px 5px 5px rgba(85,20,20,0.733);
	font-family: 'Kaushan Script', cursive;

 }
 h4{
 	color: white;
 	margin-top: 10px;
 	font-family: 'Kaushan Script', cursive;
 }
 .page{
 	position:absolute;
 	top:65%;
 	left:16%;
 	background-color: #050505;
 	
 	display: flex;
 	width: 60%;
 	height:235px;
 	opacity:0.6;
 }
 .page h2{
 	
 	float:top;
 	padding:5px;
 	font-size: 25px;
 	color: yellow;
 	box-sizing: border-box;
 	text-decoration: underline;

 }
 
.page p{
	padding: 12px;
color: white;

box-sizing: border-box;
overflow: auto;

}
.page link{
	text-decoration:none;
}
.map img{
	position: absolute;
	top:25%;
	left:65%;
	height:32%;
	width: 28%;
	box-shadow: 5px 5px 5px rgba(85,20,20,0.733 );
	border-top: 6px dotted white;

}
.frame{
	position:absolute;
	top:25%;
	left:50%;
	height: 25%;
	width:28%;
	border-top: 6px solid red;
	border-left:6px solid blue;
	border-bottom: 6px solid red;
	border-right:6px solid blue;
}

div a{
	color: lightyellow;
	text-decoration: underline;
}
div a:hover{
	color:red;
	font-size: 20px;
	cursor:pointer;
}
.contact{
	background-image:linear-gradient(to right, blue,green,orange,white);
	font-style: bold;

}
.register form{
	position: relative;
	top:40px;
	left:25%;
	font-size: 20px;
	
	font-style: bold;

}
form button{
	position: relative;
	font-size: 20px;
	top:-5px;
	background-color: #006600;
	left:50%;
	color:black;
	height:50px;
	width:100px;
	font-family:  'Akaya Telivigala', cursive;
	border-top:red;
	border-left:red;


	
}
form button:hover{
	cursor:pointer;
	background-color: #00e600;
	height:60px;
	width:90px;
}
.country{
	position: relative;
	font-size: 20px;
	top:25px;
	left:25%;
	}
.register h1{
	position: relative;
	font-size: 50px;
	color:black;
	top:20px;
	left:15%;
	border-left: 8px solid yellow;
	
}
.icon1 h2{
	position :relative;
	top: 10px;
	left:45%;
	font-family: 'Pacifico', cursive;
	text-decoration: underline;


}
.icon1 img{
	position:relative;
	height:50px;
	width: 50px;
	top:50px;
	left:40%;
}
.icon2 img{
	position:relative;
	height:50px;
	width: 55px;
	top:0px;
	left:45%;
}
.icon3 img{
	position:relative;
	height:50px;
	width: 60px;
	bottom:55px;
	left:50%;
}
.icon4 img{
	position:relative;
	height:60px;
	width: 120px;
	bottom:110px;
	left:55%;
}

